.App {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 80px 800px auto;
  grid-template-columns: 100%;
  grid-template-areas: 
    "header"
    "calc"
    "save-table";
  
}

@media (min-width: 750px) {
  .App {
    grid-template-rows: 60px 800px auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header header"
      "calc save-table"
      "calc save-table";
  }
}

.app-header {
  grid-area: header;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.save-table {
  grid-area: save-table;
}

.save-table-skill-cell {
  display: flex;
  flex-direction: column;
}

.save-table > table {
  width: 100%;
  text-align: center;
  font-size: .8em;
}

.save-table-body tr:nth-child(odd){
  background-color: lightblue;
}

.calc {
  grid-area: calc;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.calc select {
  font-size: 1em;
}

.calc input {
  font-size: 1em;
}

.calc > label {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.calc-results {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.calc-results h4 {
  margin: 0;
}

.calc-results button {
  width: 200px;
  height: 50px;
  margin: auto;
}