.app {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px; }
  .app-container {
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px; }
